/* @index */

html {
	/*border-top: 0.5em solid #0068a6;*/
	background-color: #eee;
}
body {
	background-color: #fefefe;
	background: rgba(255,255,255,0.9);
	margin: 1% 2.5%;
	padding: 1% 2.5%;
	font-size: 100%;
	line-height: 1.875;
	font-family: Arial;
	color: #333;
	border: 1px solid;
	border-color: #ddd;
	border-color: rgba(0, 0, 0, 0.13);
}

h1#logo				{ width:100%; display:block; text-align:center; padding:3% 0 3% 0; margin:0; }
.nome-modulo		{ margin:0 0 1em; padding:0; line-height:1em; font-size:1.5em; }
.nome-modulo a		{ text-decoration:none; color:#449f91; }
.nome-modulo a:hover{ color:#fff; background-color:#449f91; padding-left:1em; padding-right:1em; }

.dica						{ display:block; text-align:center; color:#666; font-size:0.85em; margin-bottom:3em; }

#intro 			{ margin: 5% 0; text-align: center; font-size: 1.4em; padding: 0 30%; line-height: 1.6; overflow:hidden; }

.links a		{ padding:0.2em 0.5em; }
.links a:hover,
.links a:focus	{ color:#fff; background-color:#449f91; }
.links span	{ color:#449f91; font-size:1.5em; }

#intro div.social-networks-share	{ float: left; width: 100%; margin: 15% 0 0; text-align: center; }
#intro div.social-networks-share #shareme { display: inline-block; }
#intro .twitter { line-height: 2.1 ;}

#menu { width: 96%; background: #91D3C7; font-size: 0.8em; line-height: 1.4; padding: 1% 2%; }
#menu.nav-fixed { width: 86%; top: 0; position: fixed; }

.modulo 					{ clear: both; overflow: hidden; width:100%; border-bottom: dotted 2px #ddd; padding:1.5em 0; }
.modulo.first				{ border-top: dotted 2px #ddd; }
.modulo .visualizacao		{ width: 65%; float: left; }
.codigo						{ width:96%; padding:0 2%; }
.modulo .info 				{ width: 30%; float: right; }
.modulo .info p				{ display:block; width:93%; padding: 0 1% 0 25px; float:left; font-size:14px; color:#067f6c; margin:1em 0 0; }
.modulo .info p a,
.nome-modulo a				{ /*Transição*/	transition:all 0.5s ease; -o-transition:all 0,5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; }
.modulo .info p a:hover		{ background-color:#067f6c; color:#fff; }
.modulo .info p.link		{ background:url(img/modulo.png) no-repeat scroll left center; }
.modulo .info p.data		{ background:url(img/relogio.png) no-repeat scroll left center; font-size:12px; margin-top:1.2em; }
.modulo .info p.data span	{ font-size:12px; font-weight:bold; color:#666; }
.modulo .info p.dependencias{ background:url(img/dependencias.png) no-repeat scroll left center; font-size:11px; font-weight:bold; }
.modulo .info p.dependencias a{color:#067f6c; margin:0 5px 0 0;}
.modulo .info p.dependencias a:hover{color:#FFF;}

.modulo .info textarea		{ width: 95%; font-size:90%; font-family: Cambria, Georgia, serif; }

.modulo .info .abas		{ display:block; margin:0; padding:0; width:100%; float:left;}
.modulo .info .abas li	{ display:block; margin:0; padding:0; float:left; }
.modulo .info .abas li a{ display:block; margin:0; padding:5px 10px; color:#1B2426; background:#fff; float:left; font-size:11px; font-weight:bold; text-decoration:none; border:1px solid #1B2426; border-bottom:none; border-right:none;}
.modulo .info .abas li a.active{ color:#fff; background:#1B2426; }

.modulo .info .html,
.modulo .info .css,
.modulo .info .js{float:left; width:100%; display:none;}

footer { text-align: center; width: 100%; font-size: 0.8em; clear: both; color: #999; }
footer a:link, footer a:visited  { color: #666; }

#avatares a:hover img { 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.modulo .syntaxhighlighter { font-size: 0.9em !important; }
/* @end index */

/* CORES */
/*
Verde bem claro		#c1dfda
Verde claro			#82bfb5
Verde médio			#449f91
Verde escuro		#067f6c
Verde bem escuro	#033f36
Amarelo				#dfb417
*/

/* -----------------------------------*/
/* -------->>> Estrutura <<<----------*/
/* -----------------------------------*/


/* -----------------------------------*/
/* -------->>> Navegação <<<----------*/
/* -----------------------------------*/
/*@2.01.navigation-horizontal-dropdown*/
#nav-primary {
	overflow:hidden;
}
#nav-primary.horizontal {
	width:100%;
}
.horizontal li {
	float:left;
	list-style-type:none;
}
.horizontal li a {
	padding:5px 15px;
	text-align:center;
	display:block;
	background-color:#82bfb5;
	color:#067f6c;
}
.horizontal li a:hover, 
.horizontal li.active a, 
.horizontal li a.sub:hover {
	color:#fff;
	background-color:#449f91;
}
.horizontal li a.sub {
	background:#82bfb5 url(modulos/2.01.navigation-horizontal-dropdown/img/seta.png) no-repeat scroll 95% 17px;
}
.horizontal li a.sub:hover {
	background-position:95% -9px;
}
.horizontal li:hover #nav-secondary {
	display:block;
}
.horizontal #nav-secondary {
	margin:0;
	padding:0;
	position:absolute;
	display:none;
}
.horizontal #nav-secondary li {
	float:none;
	list-style-type:none;
}
/*@2.01.navigation-horizontal-dropdown*/

/*@2.02.navigation-vertical-dropdown*/
#nav-primary {
	overflow:hidden;
}
#nav-primary.vertical {
	width:150px;
}
.vertical li {
	list-style-type:none;
}
.vertical li a {
	padding:5px 15px;
	text-align:left;
	display:block;
	background-color:#82bfb5;
	color:#067f6c;
}
.vertical li a:hover, 
.vertical li.active a, 
.vertical li a.sub:hover {
	color:#fff;
	background-color:#449f91;
}
.vertical #nav-secondary {
	margin:0;
	padding:0;
	display:none;
}
.vertical #nav-secondary li {
	float:none;
	list-style-type:none;
	border-bottom:dotted 1px #033f36;
}
.vertical #nav-secondary li a {
	text-align:right;
	background-color:#c1dfda;
	font-size:0.8em;
}
.vertical #nav-secondary li a:hover {
	background-color:#82bfb5;
	color:#067f6c;
}
.vertical li.active #nav-secondary {
	display:block;
}
/*@2.02.navigation-vertical-dropdown*/

/*@2.03.navigation-pagination*/
#pagination {
	text-align:center;
}
#pagination a, 
#pagination span {
	display:inline-block;
	background-color: #c1dfda;
	border: 1px solid #82bfb5;
	padding:6px 10px;
	text-decoration:none;
	color:#067f6c;
	margin:0px 5px;
}
#pagination a:hover, 
#pagination .active {
	background-color: #449f91;
	color:#fff;
}
/*@2.03.navigation-pagination*/

/*@2.04.navigation-breadcrumbs*/
#breadcrumbs ul li {
	float:left;
	padding: 0 10px 0 30px;
	background:url(http://placehold.it/16x16) no-repeat left center;
}
#breadcrumbs ul li.inicio {
	padding: 0 10px 0 0;
	background:none;
}
/*@2.04.navigation-breadcrumbs*/

/*@2.05.navigation-tabs*/
.tab {
	width:98%;
	padding:1%;
	display:none;
}
#tab-nav {
	margin:0;
	padding:0;
	overflow:hidden;
}
#tab-nav li {
	list-style:none;
	float:left;
}
#tab-nav li a {
	padding:2px 10px;
	border:1px solid #82bfb5;
	border-bottom:none;
	display:block;
	background-color:#c1dfda;
	color:#449f91;
	text-decoration:none;
}
#tab-nav li a:hover {
	background-color:#82bfb5;
	color:#fff;
}
#tab-nav li a.current {
	background:#82bfb5;
	color:#fff;
}
#tab-content	{
	border:1px solid #82bfb5;
}
	
/*@2.05.navigation-tabs*/

/*@2.06.navigation-carousel*/
.es-carousel-wrapper{
	background: #c1dfda;
	padding:10px 40px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
	overflow:hidden;
	padding:0;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#82bfb5;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	background:transparent url(modulos/2.06.navigation-carousel/img/nav.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}
/*@2.06.navigation-carousel*/

/*@2.07.navigation-accordion*/
.accordion-item	{}
.accordion-title a,
.accordion-content	{
	width:96%;
	padding:0 2%;
}
.accordion-title	{
	margin:0;
}
.accordion-content {
	display:none;
}
.accordion-title a	{
	background-color:#c1dfda;
	color:#449f91;
	display:block;
	text-decoration:none;
}
.accordion-title a:hover,
.accordion-title.open a {
	background-color:#449f91;
	color:#fff;
}
/*@2.07.navigation-accordion*/

/* CORES */
/*
Verde bem claro		#c1dfda
Verde claro			#82bfb5
Verde médio			#449f91
Verde escuro		#067f6c
Verde bem escuro	#033f36
Amarelo				#dfb417
*/

/*@2.09.navigation-glossary*/
#glossary .ln-letters {overflow: hidden;}
#glossary .ln-letters a {
    background:#82bfb5;
    border:1px solid #449f91;
    border-right:none;
    color: #067f6c;
    display: block;
    float: left;
    font-size: 12px;
    padding: 7px 13px;
	margin:0 0 5px 0;
    text-decoration: none;
	font-weight:bold;
}
#glossary .ln-letters a.ln-last{border-right:1px solid #449f91;}

#glossary .ln-letters a.ln-disabled {color: #82bfb5; background:#c1dfda;}
#glossary .ln-letters a:hover, 
#glossary .ln-letters a.ln-selected {background: #449f91; color:#FFF;}

#glossary .ln-letter-count {
    color: #E7E5B7;
    display: none !important;
    font-size: 0.8em;
    line-height: 1;
    margin-top: 3.2em;
    text-align: center;
}

#glossary .list-glossary{margin: 0 0 20px 0;}
#glossary .list-glossary #abc{padding:0; margin: 0; display:block; list-style:none; background:none;}
#glossary .list-glossary #abc li{display:block; border-bottom:1px solid #ccc; padding:10px 0; margin: 0 0 10px 0;  }
#glossary .list-glossary #abc li h4{margin: 0 0 10px 0; font-size:18px; line-height:18px;}
#glossary .list-glossary #abc li p{margin: 0 0 10px 0; font-size:12px;}


/*@2.09.navigation-glossary*/

/* -----------------------------------*/
/* ---------->>> Texto <<<------------*/
/* -----------------------------------*/


/* -----------------------------------*/
/* ---------->>> Imagem <<<-----------*/
/* -----------------------------------*/
/*@4.03.image-slideshow*/
.flex-container a:active,
.slideshow a:active	{
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
}

.slideshow {
	width: 100%; 
	margin: 0; 
	padding: 0;
}
.slideshow .slides > li {
	display: none;
}
.slideshow .slides img {
	max-width: 100%; 
	display: block;
	margin:0 auto;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
.slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
} 
html[xmlns] .slides {
	display: block;
} 
* html .slides {
	height: 1%;
}
.no-js .slides > li:first-child {
	display: block;
}
.slideshow {
	background: #fff; 
	position: relative;
	zoom: 1;
}
.slideshow .slides {
	zoom: 1;
}
.slideshow .slides > li {
	position: relative;
}
.flex-container {
	zoom: 1; 
	position: relative;
}
.flex-caption {
	background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); 
	zoom: 1;
}
.flex-caption {
	width: 96%; 
	padding: 2%; 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	background: rgba(0,0,0,.3); 
	color: #fff; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
	font-size: 14px; 
	line-height: 18px;
}
.flex-direction-nav li a {
	width: 52px; 
	height: 52px; 
	margin: -13px 0 0; 
	display: block; 
	background: url(modulos/4.03.image-slideshow/img/bg_direction_nav.png) no-repeat 0 0; 
	position: absolute; 
	top: 50%; 
	cursor: pointer; 
	text-indent: -9999px;
}
.flex-direction-nav li .next {
	background-position: -52px 0; 
	right: -21px;
}
.flex-direction-nav li .prev {
	left: -20px;
}
.flex-direction-nav li .disabled {
	opacity: .3; 
	filter:alpha(opacity=30); 
	cursor: default;
}
.flex-control-nav {
	width: 100%; 
	position: absolute; 
	bottom: -35px; 
	text-align: center;
}
.flex-control-nav li {
	margin: 0 0 0 5px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav li a {
	width: 13px; 
	height: 13px; 
	display: block; 
	background: url(modulos/4.03.image-slideshow/img/bg_control_nav.png) no-repeat 0 0; 
	cursor: pointer; 
	text-indent: -9999px;
}
.flex-control-nav li a:hover {
	background-position: 0 -13px;
}
.flex-control-nav li a.active {
	background-position: 0 -26px; 
	cursor: default;
}
/*@4.03.image-slideshow*/

/*@4.04.thumbnails*/
.thumbnails	{
	float:left;
	margin:0 5px;
}
.thumbnails a:hover	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;	
}
/*@4.04.thumbnails*/


/* -----------------------------------*/
/* ---------->>> Widget <<<-----------*/
/* -----------------------------------*/

/*@5.01.tweets*/
.jta-tweet-list .jta-tweet-profile-image{
	float:left;
	margin:0 10px 0 0;
	
}
.jta-tweet-list{
	display:block;
	margin: 0 0 20px 0;
	padding:0;
}
.jta-tweet-list .jta-tweet-list-item{
	display:block;
	margin: 0 0 5px 0;
	padding:0 0 5px 0;
	border-bottom:1px dotted #ccc;
}
.jta-tweet-body{
	font-size:12px;
	color:#333;
	margin: 0 0 0 60px;
}
.jta-tweet-user-name{display:block;}

.jta-tweet-user-screen-name{
	font-weight:bold;
	font-size:14px;
}
.jta-tweet-user-screen-name a{text-decoration:none; color:#0068a6;}

.jta-tweet-user-full-name{
	font-size:11px;	
}
.jta-tweet-user-full-name a{
	color:#666;
	text-decoration:none;
}
.jta-tweet-attributes{display:block;}

.jta-tweet-attributes, .jta-tweet-actions {
    color: #999999;
    display: block;
    font-size: 11px;
    margin-top: 3px;
}
.jta-tweet-twitter-bird-icon {
    background-color: transparent;
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/bird/bird_gray/bird_16_gray.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    width: 19px;
}
.jta-tweet-twitter-bird-icon:hover {
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/bird/bird_black/bird_16_black.png");
}
.jta-tweet-timestamp a{
	text-decoration:none;
	color:#666;
}
.jta-tweet-timestamp-link:hover, 
.jta-tweet-source-link a:hover, 
.jta-tweet-inreplyto-link:hover, 
.jta-tweet-location-link:hover {
    color: #666666;
    text-decoration: underline;
}
.jta-tweet-action-reply, 
.jta-tweet-action-retweet, 
.jta-tweet-action-favorite {
    padding-right: 1em;
}
.jta-tweet-action-reply a, 
.jta-tweet-action-retweet a, 
.jta-tweet-action-favorite a {
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #999999;
    padding-left: 19px;
    padding-top: 3px;
    text-decoration: none;
}
.jta-tweet-action-reply a {
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/icons/reply.png");
}
.jta-tweet-action-retweet a {
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/icons/retweet.png");
}
.jta-tweet-action-favorite a {
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/icons/favorite.png");
}
.jta-tweet-action-reply a:hover, 
.jta-tweet-action-retweet a:hover, 
.jta-tweet-action-favorite a:hover {
    color: #666666;
    text-decoration: underline;
}
.jta-tweet-action-reply a:hover {
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/icons/reply_hover.png");
}
.jta-tweet-action-retweet a:hover {
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/icons/retweet_hover.png");
}
.jta-tweet-action-favorite a:hover {
    background-image: url("http://si0.twimg.com/images/dev/cms/intents/icons/favorite_hover.png");
}
.jta-clear{
	clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
/*@5.01.tweets*/

/*@5.02.widget-social-networks-share*/
.social-networks-share	{
	float:left; 
	margin:68px 25% 0 25%;
}
.social-networks-share .sharrre .button	{
	float:left;
	width:60px;
}
.social-networks-share .sharrre .button.twitter{
	width:75px;
}
/*@5.02.widget-social-networks-share*/

/*@5.03.control-font-size*/
.font-size	{
	overflow:hidden;
} 
.font-size a	{
	background:url(modulos/5.03.control-font-size/img/sprite-tools.png) no-repeat;
	display:block;
	width:20px;
	height:20px;
	float:left;
	text-indent:-9999px;
	outline:none;
}
#increase	{
	background-position:-27px 0;
}
#increase:hover	{
	background-position:-27px -20px;
}
#decrease	{
	background-position:-54px 0;
}
#decrease:hover	{
	background-position:-54px -20px;
}
/*@5.03.control-font-size*/

/*@5.04.print*/
.print-text	{
	overflow:hidden;
}
#print	{
	background:url(modulos/5.04.print/img/sprite-tools.png) no-repeat -1px 0;
	display:block;
	height:20px;
	width:20px;
	text-indent:-9999px;
}
#print:hover	{
	background-position:-1px -20px;
}
/*@5.04.print*/

/*@5.05.contrast*/
.contrast	{
	background:url(modulos/5.05.contrast/img/sprite-tools.png) no-repeat -79px 0;
	display:block;
	width:20px;
	height:20px;
	outline:none;
	text-indent:-9999px;
}
.contrast:hover	{
	background-position:-79px -20px;
}
/*@5.05.contrast*/

/*@5.06.widget-social-networks*/
#social-networks {
	height:55px;
}
#social-networks li {
	margin-right: 15px;
	position: relative;
	float: left;
	height:36px;
	width:30px;
	list-style:none;
}
#social-networks a, 
#social-networks a:visited, 
#social-networks a:hover {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(modulos/5.06.widget-social-networks/img/redes_sociais.png) no-repeat;
	display: block;
	position: relative;
	z-index: 2;
}
#social-networks a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#social-networks li.facebook a {
	background-position: -3px -3px;
}
#social-networks li.twitter a {
	background-position: -49px -3px;
}
#social-networks li.orkut a {
	background-position: -95px -3px;
}
#social-networks li.youtube a {
	background-position: -140px -3px;
}
#social-networks li.flickr a {
	background-position: -186px -3px;
}
#social-networks li.linkedin a {
	background-position: -232px -3px;
}
#social-networks li.delicious a {
	background-position: -278px -3px;
}
#social-networks li.picasa a {
	background-position: -324px -3px;
}
#social-networks li.myspace a {
	background-position: -369px -3px;
}
#social-networks li.tumblr a {
	background-position: -415px -3px;
}
#social-networks li.rss a {
	background-position: -462px -3px;
}
/*@5.06.widget-social-networks*/

/*@5.08.audio-player*/
.mejs-container {
	position: relative;
	background: #000;
	font-family: Helvetica, Arial;
}
.me-plugin {
	position: absolute;	
}
.mejs-embed, .mejs-embed body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
}
.mejs-container-fullscreen {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}
.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
	width: 100%;
	height: 100%;
}
/* Start: LAYERS */
.mejs-background {
	position: absolute;
	top: 0;
	left: 0;
}
.mejs-mediaelement {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}
.mejs-poster {
	position: absolute;
	top: 0;
	left: 0;
}
.mejs-poster img {
	border: 0;
	padding: 0;
	border: 0;
	display: block;
}
.mejs-overlay {
	position: absolute;
	top: 0;
	left: 0;
}
.mejs-overlay-play {
	cursor: pointer;
}
.mejs-overlay-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	background: url(modulos/5.08.audio-player/img/bigplay.png) no-repeat;
}
.mejs-overlay:hover .mejs-overlay-button{
	background-position: 0 -100px ;
}
.mejs-overlay-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	background: #333;
	background: url(modulos/5.08.audio-player/img/background.png);
	background: rgba(0, 0, 0, 0.9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.9)), to(rgba(0,0,0,0.9))); 
	background: -webkit-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background: -moz-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background: -o-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background: -ms-linear-gradient(top, rgba(50,50,50,0.9), rgba(0,0,0,0.9));	
	background: linear-gradient(rgba(50,50,50,0.9), rgba(0,0,0,0.9)); 	
}
.mejs-overlay-loading span {
	display:block;
	width: 80px;
	height: 80px;
	background: transparent url(modulos/5.08.audio-player/img/loading.gif) 50% 50% no-repeat;
}
/* End: LAYERS */
/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
	position: absolute;
	background: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	background: url(modulos/5.08.audio-player/img/background.png);
	background: rgba(0, 0, 0, 0.7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7)); 
	background: -moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7)); 
	background: -ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7)); 	
	background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7)); 	
	height: 30px;
	width: 100%;
}
.mejs-container .mejs-controls  div {
	list-style-type: none;
	background-image: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 26px;
	height: 26px;
	font-size: 11px;
	line-height: 11px;
	background: 0;
	font-family: Helvetica, Arial;
	border: 0;
}
.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
	margin: 7px 5px;
	padding: 0;
	position: absolute;
	height: 16px;
	width: 16px;
	border: 0;
	background: transparent url(modulos/5.08.audio-player/img/controls.png) no-repeat;
}
/* :focus for accessibility */
.mejs-controls .mejs-button button:focus {
	outline: solid 1px yellow;
}
/* End: CONTROL BAR */
/* Start: Time (current / duration) */
.mejs-container .mejs-controls .mejs-time {
	color: #fff;
	display: block;
	height: 17px;
	width: auto;
	padding: 8px 3px 0 3px ;
	overflow: hidden;
	text-align: center;
	padding: auto 4px;
}
.mejs-container .mejs-controls .mejs-time span {
	font-size: 11px;
	color: #fff;
	line-height: 12px;
	display: block;
	float: left;
	margin: 1px 2px 0 0;
	width: auto;
}
/* End: Time (current / duration) */
/* Start: Play/pause */
.mejs-controls .mejs-play button {
	background-position:0 0;
}
.mejs-controls .mejs-pause button {
	background-position:0 -16px;
}
/* End: Play/pause */
/* Stop */
.mejs-controls .mejs-stop button {
	background-position: -112px 0;
}
/* End: Play/pause */

/* Start: Progress bar */
.mejs-controls div.mejs-time-rail {
	width: 200px;
	padding-top: 5px;
}
.mejs-controls .mejs-time-rail span {
	display: block;
	position: absolute;
	width: 180px;
	height: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
	margin: 5px;
	background: #333;
	background: rgba(50,50,50,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30,30,30,0.8)), to(rgba(60,60,60,0.8)));
	background: -webkit-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8)); 
	background: -moz-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -o-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: -ms-linear-gradient(top, rgba(30,30,30,0.8), rgba(60,60,60,0.8));
	background: linear-gradient(rgba(30,30,30,0.8), rgba(60,60,60,0.8)); 	
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#1E1E1E,endColorstr=#3C3C3C);
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #3caac8;
	background: rgba(60,170,200,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(44,124,145,0.8)), to(rgba(78,183,212,0.8))); 
	background: -webkit-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: -moz-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: -o-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: -ms-linear-gradient(top, rgba(44,124,145,0.8), rgba(78,183,212,0.8));
	background: linear-gradient(rgba(44,124,145,0.8), rgba(78,183,212,0.8)); 	
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#2C7C91,endColorstr=#4EB7D4);
	width: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	background: #fff;
	background: rgba(255,255,255,0.8);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8)); 
	background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#FFFFFF,endColorstr=#C8C8C8);	
}
.mejs-controls .mejs-time-rail .mejs-time-handle {
	display: none;
	position: absolute;
	margin: 0;
	width: 10px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	border: solid 2px #333;
	top: -2px;
	text-align: center;
}
.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	background: #eee;
	width: 36px;
	height: 17px;
	border: solid 1px #333;
	top: -26px;
	margin-left: -18px;
	text-align: center;
	color: #111;
}
.mejs-controls .mejs-time-rail .mejs-time-float-current {
	margin: 2px;
	width: 30px;
	display: block;
	text-align: center;
	left: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-float-corner {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	border: solid 5px #eee;
	border-color: #eee transparent transparent transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	top: 15px;
	left: 13px;

}
/*
.mejs-controls .mejs-time-rail:hover .mejs-time-handle {
	visibility:visible;
}
*/
/* End: Progress bar */
/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button button {
	background-position:-32px 0;
}
.mejs-controls .mejs-unfullscreen button {
	background-position:-32px -16px;
}
/* End: Fullscreen */
/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
}
.mejs-controls .mejs-mute button {
	background-position:-16px -16px;
}
.mejs-controls .mejs-unmute button {
	background-position:-16px 0;
}
.mejs-controls .mejs-volume-button {
	position: relative;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider {
	display: none;
	height: 115px;
	width: 25px;
	background: url(modulos/5.08.audio-player/img/background.png);
	background: rgba(50, 50, 50, 0.7);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	top: -115px;
	left: 0;
	z-index: 1;
	position: absolute;
	margin: 0;
}
.mejs-controls .mejs-volume-button:hover {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
/*
.mejs-controls .mejs-volume-button:hover .mejs-volume-slider {
	display: block;
}
*/
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
	position: absolute;
	left: 11px;
	top: 8px;
	width: 2px;
	height: 100px;
	background: #ddd;
	background: rgba(255, 255, 255, 0.5);
	margin: 0;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
	position: absolute;
	left: 11px;
	top: 8px;
	width: 2px;
	height: 100px;
	background: #ddd;
	background: rgba(255, 255, 255, 0.9);
	margin: 0;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
	position: absolute;
	left: 4px;
	top: -3px;
	width: 16px;
	height: 6px;
	background: #ddd;
	background: rgba(255, 255, 255, 0.9);
	cursor: N-resize;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	margin: 0;
}
/* End: Mute/Volume */
/* Start: TRACK (Captions and Chapters) */
.mejs-controls .mejs-captions-button {
	position: relative;
}

.mejs-controls .mejs-captions-button button {
	background-position:-48px 0;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector {
	visibility: hidden;
	position: absolute;
	bottom: 26px;
	right: -10px;
	width: 130px;
	height: 100px;
	background: url(modulos/5.08.audio-player/img/background.png);
	background: rgba(50,50,50,0.7);
	border: solid 1px transparent;
	padding: 10px;
	overflow: hidden;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/*
.mejs-controls .mejs-captions-button:hover  .mejs-captions-selector {
	visibility: visible;
}
*/
.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style-type: none !important;
	overflow: hidden;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li{
	margin: 0 0 6px 0;
	padding: 0;
	list-style-type: none !important;
	display:block;
	color: #fff;
	overflow: hidden;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input{
	clear: both;
	float: left;
	margin: 3px 3px 0 5px;
}
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label{
	width: 100px;
	float: left;
	padding: 4px 0 0 0;
	line-height: 15px;
	font-family: helvetica, arial;
	font-size: 10px;
}

.mejs-controls .mejs-captions-button .mejs-captions-translations {
	font-size: 10px;
	margin: 0 0 5px 0;
}
.mejs-chapters {
	position: absolute;
	top: 0;
	left: 0;
	-xborder-right: solid 1px #fff;
	width: 10000px;
}
.mejs-chapters .mejs-chapter {
	position: absolute;
	float: left;
	background: #222;
	background: rgba(0, 0, 0, 0.7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50,50,50,0.7)), to(rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -moz-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -o-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: -ms-linear-gradient(top, rgba(50,50,50,0.7), rgba(0,0,0,0.7));
	background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7)); 
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232,endColorstr=#000000);		
	overflow: hidden;
	border: 0;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block {
	font-size: 11px;
	color: #fff;
	padding: 5px;
	display: block;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
	cursor: pointer;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
	border-right: none;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
	/*background: #333;*/
	background: #666;
	background: rgba(102,102,102, 0.7);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(102,102,102,0.7)), to(rgba(50,50,50,0.6)));
	background: -webkit-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: -moz-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: -o-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: -ms-linear-gradient(top, rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	background: linear-gradient(rgba(102,102,102,0.7), rgba(50,50,50,0.6));
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666,endColorstr=#323232);		
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title{
	font-size: 12px;
	font-weight: bold;
	display: block;
	white-space:nowrap;
	text-overflow: ellipsis;
	margin: 0 0 3px 0;
	line-height: 12px;
}
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan{
	font-size: 12px;
	line-height: 12px;
	margin: 3px 0 4px 0;
	display: block;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.mejs-captions-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align:center;
	/*font-weight: bold;*/
	line-height: 22px;
	font-size: 12px;
	color: #fff;
}
.mejs-captions-layer  a {
	color: #fff;
	text-decoration: underline;
}
.mejs-captions-layer[lang=ar] {
	font-size: 20px;
	font-weight: normal;
}

.mejs-captions-position {
	position: absolute;
	width: 100%;
	bottom: 15px;
	left: 0;
}
.mejs-captions-position-hover {
	bottom: 45px;
}
.mejs-captions-text {
	padding: 3px 5px;
	background: url(modulos/5.08.audio-player/img/background.png);
	background: rgba(20, 20, 20, 0.8);

}
/* End: TRACK (Captions and Chapters) */
.mejs-clear {
	clear: both;
}
/* Start: ERROR */
.me-cannotplay {
}
.me-cannotplay a {
	color: #fff;
	font-weight: bold;
}
.me-cannotplay span {
	padding: 15px;
	display: block;
}
/* End: ERROR */
/* Start: Loop */
.mejs-controls .mejs-loop-off button{
	background-position: -64px -16px;
}
.mejs-controls .mejs-loop-on button {
	background-position: -64px 0;
}
/* End: Loop */
/* Start: backlight */
.mejs-controls .mejs-backlight-off button{
	background-position: -80px -16px;
}
.mejs-controls .mejs-backlight-on button {
	background-position: -80px 0;
}
/* End: backlight */
/* Start: picture controls */
.mejs-controls .mejs-picturecontrols-button{
	background-position: -96px 0;
}
/* End: picture controls */
/* context menu */
.mejs-contextmenu {
	position: absolute;
	width: 150px;
	padding: 10px;
	border-radius: 4px;
	top: 0;
	left: 0;
	background: #fff;
	border: solid 1px #999;
	z-index: 1001; /* make sure it shows on fullscreen */
}
.mejs-contextmenu .mejs-contextmenu-separator {
	height: 1px;
	font-size: 0;
	margin: 5px 6px;
	background: #333;	
}

.mejs-contextmenu .mejs-contextmenu-item {
	font-family: Helvetica, Arial;
	font-size: 12px;
	padding: 4px 6px;
	cursor: pointer;
	color: #333;	
}
.mejs-contextmenu .mejs-contextmenu-item:hover {
	background: #2C7C91;
	color: #fff;
}
/*@5.08.audio-player*/

/* -----------------------------------*/
/* ---------->>> Listas <<<-----------*/
/* -----------------------------------*/

/*@6.01.list-files*/
ul.list-files {
	display:block;
	margin: 0 0 20px 0;
	padding:0;
}
ul.list-files li {
	display:block;
	padding:0;
	border-bottom:1px dotted #ccc;
}
ul.list-files li a {
	display:block;
	padding:8px 10px 8px 40px;
	font-size:12px;
}
ul.list-files li a[href $='.pdf'] {
	background:url(modulos/6.01.list-files/img/pdf.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.doc'] {
	background:url(modulos/6.01.list-files/img/doc.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.xls'] {
	background:url(modulos/6.01.list-files/img/xls.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.ppt'] {
	background:url(modulos/6.01.list-files/img/ppt.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.mp3'] {
	background:url(modulos/6.01.list-files/img/mp3.png) no-repeat scroll left center;
}
ul.list-files li:nth-child(even) a {
background-color:#f9f9f9;
}
ul.list-files li a:hover {
	background-color:#f5f5f5;
}
/*@6.01.list-files*/

/*@6.02.list-category*/
ul.list-category {
	display:block;
	margin: 0 0 20px 0;
	padding:0;
}
ul.list-category li {
	display:block;
	padding:0;
	margin:0 1% 1% 0;
	float:left;
}
ul.list-category li a {
	display:block;
	padding:5px 10px;
	font-size:12px;
	color:#666;
	background:#f5f5f5;
	text-decoration:none;
	font-size:12px;
	border:1px dotted #ccc;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition:all 0.5s ease;
	-o-transition:all 0, 5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}
ul.list-category li a:hover {
	background:#ddd;
	border:1px solid #bbb;
	transition:all 0.5s ease;
	-o-transition:all 0, 5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}
/*@6.02.list-category*/

/*@6.03.list-articles*/
ul.list-articles	{
	overflow:hidden;
}
ul.list-articles li	{
	list-style-type:none;
}
ul.list-articles .thumb {
	margin:0 10px 0 0;
}
ul.list-articles h3	{
	margin:0 0 10px 5px;
	padding:0;
	line-height:1;
}
ul.list-articles .date	{
	margin:0 0 5px; 
	padding:0;
	font-size:0.7em;
}
ul.list-articles .subtitle	{
	margin:0;
	font-size:0.8em;
	line-height:1;
}
.content-type	{
	overflow:hidden;
	line-height:1;
	margin-bottom:0.5em;
}
.content-type figure	{
	float:left; margin-right:0.5em;
}
/*@6.3.list-articles*/


/* -----------------------------------*/
/* ---------->>> Modal <<<------------*/
/* -----------------------------------*/


/* -----------------------------------*/
/* ------->>> Formulário <<<----------*/
/* -----------------------------------*/

/*@8.01.form-label*/
label {
	display:block;
	margin:5px 0px 10px 0px;
	color:#999;
}
label span {
	display:block;
	color:#999;
}
.input-text {
	border:solid 1px #c1dfda;
	color:#999999;
}
.input-text:focus {
	border:solid 1px #82bfb5;
}
/*@8.01.form-label*/

/*@8.02.form-text*/
/*propriedade herdada do item anterior*/
/*@8.02.form-text*/

/*@8.03.form-submit*/
.input-submit {
	background-color:#c1dfda;
	color:#449f91;
	border:none;
	padding:5px 10px;
}
.input-submit:hover {
	background-color:#82bfb5;
	color:#fff;
}
/*@8.03.form-submit*/

/*@8.04.form-textarea*/
.input-textarea {
	border:solid 1px #c1dfda;
	color:#999999;
}
.input-textarea:focus {
	border:solid 1px #82bfb5;
}
/*@8.04.form-textarea*/

/*@8.05.form-file*/
.input-file {
	color:#999;
}
/*@8.05.form-file*/

/*@8.06.form-select*/
.select-form {
	border:solid 1px #c1dfda;
	color:#999999;
	padding:2px;
}
.select-form:focus {
	border:solid 1px #82bfb5;	
}
/*@8.06.form-select*/

/*@8.07.form-checkbox*/
.input-checkbox {
	margin-right: 10px;
	padding: 0;
	vertical-align: baseline;
	color:#999999;
}
/*@8.07.form-checkbox*/

/*@8.08.form-radio*/
.input-radio {
	margin-right: 10px;
	padding: 0;
	vertical-align: baseline;
}
/*@8.08.form-radio*/

/*@8.09.form-select-action*/
input[type=submit]:disabled {
	border:solid 1px #e5e5e5;
	color:#e5e5e5;
	background-color:#f5f5f5;
}
/*@8.09.form-select-action*/

/*@8.11.form-search-field*/
/* Utilizar o mesmo css do módulo: 8.12 */
/*@8.11.form-search-field*/

/*@8.12.form-cadastre*/
form{
	display:block; 
	padding:2%; 
	background:#f5f5f5;
	border:1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}
form label{
	display:block;
	margin: 0 0 20px 0;
}
form label[for=buscar],
form label[for=submit]{margin:0;}

form label span{
	display:block;
	font-size:12px; 
	font-weight:bold; 
	color:#666;
}
form label input[type=text],
form label input[type=password],
form label textarea{
	display:block;
	width:97.9%;
	padding:8px 1%;
	border:1px solid #ccc;
	font-size:12px;
	color:#333;
}
form label input[type=checkbox],
form label input[type=radio]{
	margin:0 5px 0 0;
}

form label input[type=text]:hover, 		
form label input[type=text]:focus,
form label input[type=password]:hover, 	
form label input[type=password]:focus,
form label textarea:hover, 				
form label textarea:focus{
	border:1px solid #bbb;
	background:#f9f9f9;
}
form label input[type=submit]{
	width:10%;
	padding:8px;
	border:1px solid #bbb;
	background:#ccc;
	font-size:12px; 
	text-transform:uppercase;
	color:#666;
	font-weight:bold;
}
form label input[type=submit]:hover{
	border:1px solid #999;
	background:#666;
	color:#ccc;
}
form .password_strength	{
	padding-left:1%;
	font-size:0.9em;
}
form .password_strength_1,
form .password_strength_2	{
	background-color:#FBE3E4; 
	border: 1px solid #FBC2C4; 
	color: #8A1F11;
}
form .password_strength_3	{
	background-color:#FFF6BF;
	border: 1px solid #FFD324;
	color: #514721;
}
form .password_strength_4,
form .password_strength_5	{
	background-color:#E6EFC2; 
	border: 1px solid #C6D880; 
	color: #264409; 
}


/*@8.12.form-cadastre*/

/*@8.13.form-contact*/
/* Utilizar o mesmo css do módulo: 8.12 + */
.ddd{ 
	float:left;	
	margin-right:2%;
	width:18%;
}

.phone	{  
	float:left;
	width:80%;
}
/*@8.13.form-contact*/


/*@8.14.form-login*/
/* Utilizar o mesmo css do módulo: 8.12 */
/*@8.14.form-login*/

/*@8.15.form-password-strength*/
/* Utilizar o mesmo css do módulo: 8.12 */
/*@8.15.form-password-strength*/

/*@8.16.form-feedback-success*/
.feedback	{
	display:block;
	width:96%;
	padding:5px 2%;
	margin:0 0 1em 0;
}
.feedback p	{ 
	margin:0;
	padding:0 0 0 30px;
	font-size:0.8em;
}
.feedback.success {
	background-color:#E6EFC2; 
	border: 1px solid #C6D880; 
	color: #264409; 
}
.feedback.success p { 
	background:url(modulos/8.16.form-feedback-success/img/success.png) no-repeat left center;
}
/*@8.16.form-feedback-success*/

/*@8.17.form-feedback-error*/
/* Propriedades da classe 'feedback' herdadas do Módulo anterior */
.feedback.error {
	background-color:#FBE3E4; 
	border: 1px solid #FBC2C4; 
	color: #8A1F11; 
}
.feedback.error p { 
	background:url(modulos/8.17.form-feedback-error/img/error.png) no-repeat left center;
}
/*@8.17.form-feedback-error*/

/*@8.18.form-feedback-alert*/
/* Propriedades da classe 'feedback' herdadas do Módulo 8.16 */
.feedback.alert {
	background-color:#FFF6BF;
	border: 1px solid #FFD324;
	color: #514721;
}
.feedback.alert p { 
	background:url(modulos/8.18.form-feedback-alert/img/alert.png) no-repeat left center;
}
/*@8.18.form-feedback-alert*/

/*@8.19.form-feedback-information*/
/* Propriedades da classe 'feedback' herdadas do Módulo 8.16 */
.feedback.information {
	background-color:#d8f7ff;
	border: 1px solid #c0cadd;
	color: #416997;
}
.feedback.information p { 
	background:url(modulos/8.19.form-feedback-information/img/info.png) no-repeat left center;
}
/*@8.19.form-feedback-information*/

/*@8.20.form-button*/
button[type=submit] { 
	background-color:#c1dfda;
	color:#449f91;
	border:none;
	padding:5px 10px;
}
button[type=submit]:hover	{
	background-color:#82bfb5;
	color:#fff;
}
/*@8.20.form-button*/

















