/* @index */

html {
	/*border-top: 0.5em solid #0068a6;*/
	background-color: #eee;
}
body {
	background-color: #fefefe;
	background: rgba(255,255,255,0.9);
	margin: 1% 2.5%;
	padding: 1% 2.5%;
	font-size: 100%;
	line-height: 1.875;
	font-family: Arial;
	color: #333;
	border: 1px solid;
	border-color: #ddd;
	border-color: rgba(0, 0, 0, 0.13);
}

h1#logo				{ width:100%; display:block; text-align:center; padding:3% 0 1% 0; margin:0; }
.nome-modulo		{ margin:0 0 1em; padding:0; line-height:1em; font-size:1.5em; }
.nome-modulo a		{ text-decoration:none; color:#449f91; }
.nome-modulo a:hover{ color:#fff; background-color:#449f91; padding-left:1em; padding-right:1em; }

.dica						{ display:block; text-align:center; color:#666; font-size:0.85em; margin-bottom:3em; }
#intro 			{ margin: 5% 0; text-align: center; font-size: 1.4em; padding: 0 25%; line-height: 1.6; }
#intro ul  		{ margin: 0; padding: 0 }
#intro ul li 	{ display: inline; list-style: none; padding: 1.5%; }
#intro ul li:first-child 	{ border-right: 3px solid #449f91; }
.modulo 					{ clear: both; overflow: hidden; border-bottom: dotted 2px #ddd; padding:1.5em 0; }
.modulo.first				{ border-top: dotted 2px #ddd; }
.modulo .visualizacao		{ width: 65%; float: left; }
.modulo .info 				{ width: 30%; float: right; }
.modulo .info p				{ display:block; width:93%; padding: 0 1% 0 25px; float:left; font-size:14px; color:#067f6c; margin:1em 0 0; }
.modulo .info p a,
.nome-modulo a				{ /*Transição*/	transition:all 0.5s ease; -o-transition:all 0,5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease; }
.modulo .info p a:hover		{ background-color:#067f6c; color:#fff; }
.modulo .info p.link		{ background:url(img/modulo.png) no-repeat scroll left center; }
.modulo .info p.data		{ background:url(img/relogio.png) no-repeat scroll left center; font-size:12px; margin-top:1.2em; }
.modulo .info p.data span	{ font-size:12px; font-weight:bold; color:#666; }
.modulo .info textarea		{ width: 95%; font-size:90%; font-family: Cambria, Georgia, serif; }

.modulo .info .abas		{ display:block; margin:0; padding:0; width:100%; float:left;}
.modulo .info .abas li	{ display:block; margin:0; padding:0; float:left; }
.modulo .info .abas li a{ display:block; margin:0; padding:5px 10px; color:#1B2426; background:#fff; float:left; font-size:11px; font-weight:bold; text-decoration:none; border:1px solid #1B2426; border-bottom:none;}
.modulo .info .abas li a.active{ color:#fff; background:#1B2426; }

.modulo .info .html,
.modulo .info .css{float:left; width:100%; display:none;}

footer { text-align: center; }

.modulo .syntaxhighlighter { font-size: 0.9em !important; }
/* @end index */

/* CORES */
/*
Verde bem claro		#c1dfda
Verde claro			#82bfb5
Verde médio			#449f91
Verde escuro		#067f6c
Verde bem escuro	#033f36
Amarelo				#dfb417
*/

/* -----------------------------------*/
/* -------->>> Estrutura <<<----------*/
/* -----------------------------------*/


/* -----------------------------------*/
/* -------->>> Navegação <<<----------*/
/* -----------------------------------*/
/*@2.01.menu-horizontal-com-subitens*/
#nav-primary {
	overflow:hidden;
}
#nav-primary.horizontal {
	width:100%;
}
.horizontal li {
	float:left;
	list-style-type:none;
}
.horizontal li a {
	padding:5px 15px;
	text-align:center;
	display:block;
	background-color:#82bfb5;
	color:#067f6c;
	min-width:80px;
}
.horizontal li a:hover, 
.horizontal li.active a, 
.horizontal li a.sub:hover {
	color:#fff;
	background-color:#449f91;
}
.horizontal li a.sub {
	background:#82bfb5 url(modulos/2.01.menu-horizontal-com-subitens/img/seta.png) no-repeat scroll 95% 17px;
}
.horizontal li a.sub:hover {
	background-position:95% -9px;
}
.horizontal li:hover #nav-secondary {
	display:block;
}
.horizontal #nav-secondary {
	margin:0;
	padding:0;
	position:absolute;
	display:none;
}
.horizontal #nav-secondary li {
	float:none;
	list-style-type:none;
}
/*@2.01.menu-horizontal-com-subitens*/

/*@2.02.menu-vertical-com-subitens*/
#nav-primary {
	overflow:hidden;
}
#nav-primary.vertical {
	width:150px;
}
.vertical li {
	list-style-type:none;
}
.vertical li a {
	padding:5px 15px;
	text-align:left;
	display:block;
	background-color:#82bfb5;
	color:#067f6c;
}
.vertical li a:hover, 
.vertical li.active a, 
.vertical li a.sub:hover {
	color:#fff;
	background-color:#449f91;
}
.vertical #nav-secondary {
	margin:0;
	padding:0;
	display:none;
}
.vertical #nav-secondary li {
	float:none;
	list-style-type:none;
	border-bottom:dotted 1px #033f36;
}
.vertical #nav-secondary li a {
	text-align:right;
	background-color:#c1dfda;
	font-size:0.8em;
}
.vertical #nav-secondary li a:hover {
	background-color:#82bfb5;
	color:#067f6c;
}
.vertical li.active #nav-secondary {
	display:block;
}
/*@2.02.menu-vertical-com-subitens*/

/*@2.03.paginacao*/
#pagination {
	text-align:center;
}
#pagination a, 
#pagination span {
	display:inline-block;
	background-color: #c1dfda;
	border: 1px solid #82bfb5;
	padding:6px 10px;
	text-decoration:none;
	color:#067f6c;
	margin:0px 5px;
}
#pagination a:hover, 
#pagination .active {
	background-color: #449f91;
	color:#fff;
}
/*@2.03.paginacao*/

/*@2.04.breadcrumbs*/
#breadcrumbs ul li {
	float:left;
	padding: 0 10px 0 30px;
	background:url(http://placehold.it/16x16) no-repeat left center;
}
#breadcrumbs ul li.inicio {
	padding: 0 10px 0 0;
	background:none;
}
/*@2.04.breadcrumbs*/



/* -----------------------------------*/
/* ---------->>> Texto <<<------------*/
/* -----------------------------------*/


/* -----------------------------------*/
/* ---------->>> Imagem <<<-----------*/
/* -----------------------------------*/
/*@4.04.thumbnails*/
.thumb	{
	float:left;
	margin:0 5px;
}
.thumb a:hover	{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;	
}
/*@4.04.thumbnails*/


/* -----------------------------------*/
/* ---------->>> Widget <<<-----------*/
/* -----------------------------------*/

/*@5.02.compartilhar*/
.social-networks-share	{
	float:left; 
	margin:68px 25% 0 25%;
}
.social-networks-share .sharrre .button	{
	float:left;
	width:60px;
}
/*@5.02.compartilhar*/

/*@5.06.link-para-as-redes-sociais*/
#social-networks {
	height:55px;
}
#social-networks li {
	margin-right: 15px;
	position: relative;
	float: left;
	height:36px;
	width:30px;
	list-style:none;
}
#social-networks a, 
#social-networks a:visited, 
#social-networks a:hover {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(modulos/5.06.link-para-as-redes-sociais/img/redes_sociais.png) no-repeat;
	display: block;
	position: relative;
	z-index: 2;
}
#social-networks a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#social-networks li.facebook a {
	background-position: -3px -3px;
}
#social-networks li.twitter a {
	background-position: -49px -3px;
}
#social-networks li.orkut a {
	background-position: -95px -3px;
}
#social-networks li.youtube a {
	background-position: -140px -3px;
}
#social-networks li.flickr a {
	background-position: -186px -3px;
}
#social-networks li.linkedin a {
	background-position: -232px -3px;
}
#social-networks li.delicious a {
	background-position: -278px -3px;
}
#social-networks li.picasa a {
	background-position: -324px -3px;
}
#social-networks li.myspace a {
	background-position: -369px -3px;
}
#social-networks li.tumblr a {
	background-position: -415px -3px;
}
#social-networks li.rss a {
	background-position: -462px -3px;
}
/*@5.06.link-para-as-redes-sociais*/

/* -----------------------------------*/
/* ---------->>> Listas <<<-----------*/
/* -----------------------------------*/

/*@6.01.lista-de-arquivos*/
ul.list-files {
	display:block;
	margin: 0 0 20px 0;
	padding:0;
}
ul.list-files li {
	display:block;
	padding:0;
	border-bottom:1px dotted #ccc;
}
ul.list-files li a {
	display:block;
	padding:8px 10px 8px 40px;
	font-size:12px;
}
ul.list-files li a[href $='.pdf'] {
	background:url(modulos/6.01.lista-de-arquivos/img/pdf.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.doc'] {
	background:url(modulos/6.01.lista-de-arquivos/img/doc.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.xls'] {
	background:url(modulos/6.01.lista-de-arquivos/img/xls.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.ppt'] {
	background:url(modulos/6.01.lista-de-arquivos/img/ppt.png) no-repeat scroll left center;
}
ul.list-files li a[href $='.mp3'] {
	background:url(modulos/6.01.lista-de-arquivos/img/mp3.png) no-repeat scroll left center;
}
ul.list-files li:nth-child(even) a {
background-color:#f9f9f9;
}
ul.list-files li a:hover {
	background-color:#f5f5f5;
}
/*@6.01.lista-de-arquivos*/

/*@6.02.lista-de-categorias*/
ul.list-category {
	display:block;
	margin: 0 0 20px 0;
	padding:0;
}
ul.list-category li {
	display:block;
	padding:0;
	margin:0 1% 1% 0;
	float:left;
}
ul.list-category li a {
	display:block;
	padding:5px 10px;
	font-size:12px;
	color:#666;
	background:#f5f5f5;
	text-decoration:none;
	font-size:12px;
	border:1px dotted #ccc;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition:all 0.5s ease;
	-o-transition:all 0, 5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}
ul.list-category li a:hover {
	background:#ddd;
	border:1px solid #bbb;
	transition:all 0.5s ease;
	-o-transition:all 0, 5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
}
/*@6.02.lista-de-categorias*/

/*@6.03.lista-de-artigos*/
ul.list-news	{
	overflow:hidden;
}
ul.list-news li	{
	list-style-type:none;
}
ul.list-news .thumb {
	margin:0 10px 0 0;
}
ul.list-news h3	{
	margin:0 0 10px 5px;
	padding:0;
	line-height:1;
}
ul.list-news .date	{
	margin:0 0 5px; 
	padding:0;
	font-size:0.7em;
}
ul.list-news .subtitle	{
	margin:0;
	font-size:0.8em;
	line-height:1;
}
.content-type	{
	overflow:hidden;
	line-height:1;
	margin-bottom:0.5em;
}
.content-type figure	{
	float:left; margin-right:0.5em;
}
/*@6.3.lista-de-artigos*/


/* -----------------------------------*/
/* ---------->>> Modal <<<------------*/
/* -----------------------------------*/


/* -----------------------------------*/
/* ------->>> Formulário <<<----------*/
/* -----------------------------------*/
/*@8.01.label*/
label {
	display:block;
	margin:5px 0px 10px 0px;
	color:#666;
}
label span {
	display:block;
	color:#999;
}
.input-text {
	border:solid 1px #c1dfda;
	color:#999999;
}
.input-text:focus {
	border:solid 1px #82bfb5;
}
/*@8.01.label*/

/*@8.02.input-text*/
/*propriedade herdada do item anterior*/
/*@8.02.input-text*/

/*@8.03.input-text*/
.input-submit {
	background-color:#c1dfda;
	color:#449f91;
	border:none;
	padding:5px 10px;
}
.input-submit:hover {
	background-color:#82bfb5;
	color:#fff;
}
/*@8.03.input-text*/

/*@8.04.textarea*/
.input-textarea {
	border:solid 1px #c1dfda;
	color:#999999;
}
.input-textarea:focus {
	border:solid 1px #82bfb5;
}
/*@8.04.textarea*/

/*@8.05.upload*/
.input-file {
	color:#999;
}
/*@8.05.upload*/

/*@8.06.select*/
.select-form {
	border:solid 1px #c1dfda;
	color:#999999;
}
.select-form:focus {
	border:solid 1px #82bfb5;
}
/*@8.06.select*/

/*@8.07.checkbox*/
.input-checkbox {
	margin-right: 10px;
	padding: 0;
	vertical-align: baseline;
	color:#999999;
}
/*@8.07.checkbox*/

/*@8.08.radio*/
.input-radio {
	margin-right: 10px;
	padding: 0;
	vertical-align: baseline;
}
/*@8.08.radio*/

/*@8.13.fale-conosco*/
/* Algumas propriedades dos inputs são herdadas dos módulos acima */
.contact-form {
	width:96%;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	padding:5px 2%;
}
.contact-form input[type=text], 
.contact-form input[type=password], 
.contact-form textarea {
	width:99.9%;
}
.ddd	{ 
	float:left;
	width:15%;
	margin-right:5%;
}

.phone	{  
	float:left;
	width:80%;
}
/*@8.13.fale-conosco*/

/*@8.14.login*/
/* Propriedades de CSS herdadas dos Módulos 8.13 e 8.1 */
/*@8.14.login*/

/*@8.16.mensagem-de-sucesso*/
.feedback	{
	display:block;
	width:96%;
	padding:5px 2%;
	margin:0 0 1em 0;
}
.feedback p	{ 
	margin:0;
	padding:0 0 0 30px;
	font-size:0.8em;
}
.feedback.success {
	background-color:#E6EFC2; 
	border: 1px solid #C6D880; 
	color: #264409; 
}
.feedback.success p { 
	background:url(modulos/8.16.mensagem-de-sucesso/img/success.png) no-repeat left center;
}
/*@8.16.mensagem-de-sucesso*/

/*@8.17.mensagem-de-erro*/
/* Propriedades da classe 'feedback' herdadas do Módulo anterior */
.feedback.error {
	background-color:#FBE3E4; 
	border: 1px solid #FBC2C4; 
	color: #8A1F11; 
}
.feedback.error p { 
	background:url(modulos/8.17.mensagem-de-erro/img/error.png) no-repeat left center;
}
/*@8.17.mensagem-de-erro*/

/*@8.18.mensagem-de-alerta*/
/* Propriedades da classe 'feedback' herdadas do Módulo 8.16 */
.feedback.alert {
	background-color:#FFF6BF;
	border: 1px solid #FFD324;
	color: #514721;
}
.feedback.alert p { 
	background:url(modulos/8.18.mensagem-de-alerta/img/alert.png) no-repeat left center;
}
/*@8.18.mensagem-de-alerta*/

/*@8.19.mensagem-de-informacao*/
/* Propriedades da classe 'feedback' herdadas do Módulo 8.16 */
.feedback.information {
	background-color:#d8f7ff;
	border: 1px solid #c0cadd;
	color: #416997;
}
.feedback.information p { 
	background:url(modulos/8.19.mensagem-de-informacao/img/info.png) no-repeat left center;
}
/*@8.19.mensagem-de-informacao*/

/*@8.20.botao*/
button[type=submit] { 
	background-color:#c1dfda;
	color:#449f91;
	border:none;
	padding:5px 10px;
}
button[type=submit]:hover	{
	background-color:#82bfb5;
	color:#fff;
}
/*@8.20.botao*/



